<md-content flex md-scroll-y style="height:100%;width:100%">
	<md-toolbar ng-show="!showSearch">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
				<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
			</md-button>
			<md-button class="md-icon-button" hide-gt-md aria-label="Collaboratio">
				<a href="http://devpost.com/software/collaboratio" target="_blank"><img src="assets/img/collaboratio-logo.png" class="collaboratio-logo" alt="Collaboratio"></a>
			</md-button>
			<h2 hide-xs>
				<span class="uppercase">{{'missionStatement' | translate}}</span>
			</h2>
			<span flex class=flex"></span>
			<img class="user-picture" ng-if="user.picture" src="{{user.picture}}" height="32" width="32">
			<span hide-xs class="md-subhead user-name">{{user.userName}}</span>
			<md-button class="md-icon-button" ng-click="recenter()" aria-label="{{'recenter' | translate}}">
				<md-icon md-svg-icon="maps:ic_my_location_24px"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<ng-include src="'templates/google-map.html'"></ng-include>

	<div ng-controller="AddEventController">
		<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="addEventSideNav">
			<md-toolbar class="md-theme-light md-accent icon-white">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="{{'back' | translate}}" ng-click="close()">
						<md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
					</md-button>
					<h2>
						<span>{{'addEvent' | translate}}</span>
					</h2>
					<span flex></span>
					<md-button class="md-icon-button save-button" aria-label="{{'save' | translate}}" ng-hide="editMode" ng-click="save()">
						<md-icon md-svg-icon="content:ic_save_24px"></md-icon>
					</md-button>

					<md-button class="md-icon-button" aria-label="{{'confirm' | translate}}" ng-show="editMode" ng-click="confirm()">
						<md-icon md-svg-icon="action:ic_thumb_up_24px"></md-icon>
					</md-button>

					<span ng-show="editMode">({{ event.reportCount }})</span>
				</div>
			</md-toolbar>
			<md-content layout-padding layout="column">
				<md-input-container>
					<label>{{'type' | translate}}</label>
					<md-select ng-model="event.type" ng-disabled="editMode">
						<md-option ng-repeat="type in typeList" ng-value="type.uuid" ng-disabled="$index === 1">
							{{language == 'fr'  ? type.descFr : type.descEn }}
						</md-option>
					</md-select>
				</md-input-container>
				<img id="thumbImage" ng-show="file" ngf-thumbnail="file" class="thumb" />
				<md-button class="md-raised" ng-click="close()" ng-show="file && !editMode">Remove</md-button>
				<md-button class="md-raised" type="file" ngf-select="updateLocationName()" ng-model="file"
						   accept="image/*" ngf-max-size="10MB" ng-disabled="editMode"
						   ng-show="!file">{{'uploadImage' | translate}}</md-button>
				<md-input-container class="md-block">
					<label>{{'description' | translate}}</label>
					<textarea ng-model="event.description" ng-disabled="editMode" md-maxlength="150" rows="5" md-select-on-focus></textarea>
				</md-input-container>
				<md-input-container class="md-block">
					<label>{{ 'Emplacement' | translate }}</label>
					<input value="{{ locationName }}" disabled>
				</md-input-container>
				<md-button class="md-raised md-accent" ng-click="confirm()" ng-show="editMode" class="md-primary">
					{{'confirm' | translate}}
				</md-button>
				<md-button class="md-raised md-accent" ng-click="resolve()" ng-show="editMode" class="md-primary">
					{{'resolve' | translate}}
				</md-button>
			</md-content>
		</md-sidenav>
	</div>
	<div layout="row" layout-align="end end">
		<md-button class="md-fab bottom-right" aria-label="{{'add' | translate}}" ng-click="addEvent()">
			<md-icon md-svg-icon="content:ic_create_24px"></md-icon>
		</md-button>
	</div>
</div>
