<ng-map style="height:calc(100% - 64px);width:100%" center="[{{lat}}, {{lng}}]" styles="{{ styles }}">
	<custom-marker ng-if="showItems" ng-repeat="event in events track by $index"
			on-click="editEvent({{event}})"
			position="{{event.lat}}, {{event.lng}}"
			class="marker-event">
		<div id="custom-marker-{{$index}}" class="custom-marker">
			<img src="assets/img/pin_event.png">
		</div>
	</custom-marker>

	<custom-marker ng-if="showZapSpot" 	ng-repeat="zap in zaps"	position="{{zap.pos}}" class="marker-zap">
		<div class="custom-marker">
			<img src="assets/img/pin_zap.png">
		</div>
	</custom-marker>

	<custom-marker position="{{lat}}, {{lng}}" class="marker-me">
		<div id="me">
			<img src="assets/img/pin_me.png">
		</div>
	</custom-marker>
	<div ng-repeat="layer in kmlList">
		<kml-layer clickable="false" ng-if="layer.visible" preserve-viewport="true" url="{{ layer.url }}" ></kml-layer>
	</div>
</ng-map>

<div layout-align="end end" class="bottom-left">
	<md-fab-speed-dial md-open="isOpen"  md-direction="{{direction}}" ng-class="md-fling ">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-warn">
				<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions ng-show="isOpen">
			<md-button ng-repeat="layer in kmlList" aria-label="{{ layer.title | translate }}" class="md-fab  md-raised md-mini" ng-style="{'background-color': layer.visible ?  'rgb(0,186,197)' : 'rgb(232,232,232)' }" ng-click="layer.visible = !layer.visible;" >
				<md-icon md-svg-src="{{layer.icon}}"></md-icon>
			</md-button>
			<md-button aria-label="NearMe" class="md-fab md-raised md-mini" ng-style="{'background-color': showItems ?  'rgb(240,78,52)' : 'rgb(232,232,232)'}" ng-click="showItems = !showItems;">
				<md-icon md-svg-icon="alert:ic_error_24px"></md-icon>
			</md-button>
			<md-button aria-label="ZAP" class="md-fab md-raised md-mini" ng-style="{'background-color': showZapSpot  ?  'rgb(154,217,231)' : 'rgb(232,232,232)'}" ng-click="showZap();">
				<md-icon md-svg-icon="notification:ic_wifi_24px"></md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>