<ng-map style="height:calc(100% - 64px);width:100%" center="[{{lat}}, {{lng}}]" styles="{{ styles }}">

	<custom-marker ng-if="showItems" ng-repeat="event in events track by $index"
			on-click="editEvent({{event}})"
			position="{{event.lat}}, {{event.lng}}">
		<div id="custom-marker-{{$index}}">
			<img src="assets/img/pin_event.png">
		</div>
	</custom-marker>

	<custom-marker ng-if="showZapSpot" 	ng-repeat="zap in zaps"	position="{{zap.pos}}">
		<div>
			<img src="assets/img/pin_zap.png">
		</div>
	</custom-marker >

	<info-window id="foo" on-mouseover="vm.mouseover()">
		<div ng-non-bindable="">
			Lat: {{anchor.getPosition().lat()}}<br/>
			Lng: {{anchor.getPosition().lng()}}<br/>
		</div>
	</info-window>
	<kml-layer clickable="false" ng-if="showAireAmenagee" url="https://collaboratiohack.firebaseapp.com/assets/kml/aireamenagee.kml" ></kml-layer>
	<kml-layer clickable="false" ng-if="showPistCyclable" url="https://collaboratiohack.firebaseapp.com/assets/kml/pistecyclable.kml" ></kml-layer>
	<kml-layer clickable="false" ng-if="showSentierPedestre" url="https://collaboratiohack.firebaseapp.com/assets/kml/sentier-pedestre.kmz" ></kml-layer>
</ng-map>

<div layout-align="end end" class="bottom-left">
	<md-fab-speed-dial md-open="isOpen"  md-direction="{{direction}}" ng-class="md-fling ">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-warn">
				<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions ng-show="isOpen">
			<md-button aria-label="PisteCyclable" class="md-fab  md-raised md-mini" ng-style="{'background-color': showPistCyclable ?  'rgb(0,186,197)' : 'rgb(232,232,232)' }" ng-click="showPistCyclable = !showPistCyclable;" >
				<md-icon md-svg-src="maps:ic_directions_bike_24px"></md-icon>
			</md-button>
			<md-button aria-label="AireAmenagee" class="md-fab md-raised md-mini" ng-style="{'background-color':showAireAmenagee ?  'rgb(215,223,35)' : 'rgb(232,232,232)' }" ng-click="showAireAmenagee = !showAireAmenagee;" >
				<md-icon md-svg-icon="image:ic_nature_24px"></md-icon>
			</md-button>
			<md-button aria-label="SentierPedestre" class="md-fab md-raised md-mini" ng-style="{'background-color':showSentierPedestre ?  'rgb(28,117,188)' : 'rgb(232,232,232)' }" ng-click="showSentierPedestre = !showSentierPedestre;">
				<md-icon md-svg-icon="maps:ic_directions_walk_24px"></md-icon>
			</md-button>
			<md-button aria-label="NearMe" class="md-fab md-raised md-mini" ng-style="{'background-color': showItems ?  'rgb(240,78,52)' : 'rgb(232,232,232)'}" ng-click="showItems = !showItems;showItemsNearMe();">
				<md-icon md-svg-icon="alert:ic_error_24px"></md-icon>
			</md-button>
			<md-button aria-label="ZAP" class="md-fab md-raised md-mini" ng-style="{'background-color': showZapSpot  ?  'rgb(154,217,231)' : 'rgb(232,232,232)'}" ng-click="showZapSpot= !showZapSpot;showZap();">
				<md-icon md-svg-icon="notification:ic_wifi_24px"></md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>