<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2>
				<a href="http://devpost.com/software/collaboratio" target="_blank"><img src="assets/img/collaboratio-signature.png" class="collaboratio-signature" alt="Collaboratio"></a>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="toggleSideNav('left')" hide-gt-md aria-label="Menu">
				<md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<md-list flex>
			<md-list-item class="md-3-line" ng-class="(state == 'eventReporter' ? 'menu-selected' : '')" ng-click="goToState('eventReporter')">
				{{'menu.eventReporter' | translate}}
			</md-list-item>
			<md-list-item class="md-3-line" ng-class="(state == 'eventManager' ? 'menu-selected' : '')" ng-click="goToState('eventManager')">
				{{'menu.eventManager' | translate}}
			</md-list-item>
			<md-list-item class="md-3-line" ng-class="(state == 'groupManager' ? 'menu-selected' : '')" ng-click="goToState('groupManager')">
				{{'menu.groupManager' | translate}}
			</md-list-item>
		</md-list>
	</md-content>
</md-sidenav>