html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.container {
    width: 100%;
    height: 100%
}

#map {
    width: 100%;
    height: 100%
}

.centered-404 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/404.png);
}

.login-section {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.menu-selected {
    background-color: rgba(158,158,158,0.2);
}

.social-button {
	margin-top: 15px;
}
