body, html {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1295px) {
    .bottom-left {
        left: 2% !important;
    }
}

@media screen and (min-width:1295px) and (max-width:1400px) {
    .bottom-left {
        left: 25% !important;
    }
}

@media screen and (min-width:1400px) and (max-width:1600px) {
    .bottom-left {
        left: 20% !important;
    }
}

.bottom-left {
    position: absolute;
    left: 15%;
    bottom: 24px;
}

.bottom-right {
    position: fixed;
    right: 2%;
    bottom: 24px;
}

.centered-404 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/404.png);
}

.login-section {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.menu-selected {
    background-color: rgba(158,158,158,0.2);
}

.social-button {
	margin-top: 16px;
}

.user-name {
	margin-right: 16px;
}

.thumb {
    width: 280px;
    height: 280px;
    float: none;
    position: relative;
}


.collaboratio-logo {
    width: auto;
    height: 30px;
}

.collaboratio-signature {
    width: auto;
    height: 60px;
}

.collaboratio-signature:hover {
    cursor:hand;
}
