body, html {
    height: 100%;
    width: 100%;
}

.bottom-left {
    position: absolute;
    left: 2%;
    bottom: 24px;
}

.bottom-right {
    position: fixed;
    right: 2%;
    bottom: 24px;
}

.centered-404 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/404.png);
}

.hoverTheTop {
    z-index: 1000;
}

.login-section {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.menu-selected {
    background-color: rgba(158,158,158,0.2);
}

.social-button {
	margin-top: 16px;
}

.user-name {
	margin-left: 16px;
}

.thumb {
    width: 280px;
    height: auto;
    float: none;
    position: relative;
}


.collaboratio-logo {
    width: auto;
    height: 30px;
}

.collaboratio-signature {
    width: auto;
    height: 60px;
}

.collaboratio-signature:hover {
    cursor:hand;
}

.uppercase {
    text-transform: uppercase;
}

.md-button.md-icon-button.save-button {
	padding-right: 0px;
	margin-right: 0px;
}

.list-icon {
	margin-top: 10px !important;
}

.pickle-gif{
    background-image: url(../img/pickle.gif);
}

.fullHeight {
	height: 100%;
}

.custom-marker {
    margin-bottom: -16px;
}